<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    ServerSignature Off

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [QSA,L]
</IfModule>